.panel.panel-default
  .panel-heading
    %h4
      = t('.promote')
  %table.table
    %tr
      %td
        %p
          = t(policy.promotion_state)

        = link_to t('.approve_promotion'), approve_promotion_policy_path, class: 'btn btn-success', method: :put

        = link_to t('.decline_promotion'), decline_promotion_policy_path, class: 'btn btn-danger', method: :put
