.comments {
  textarea {
    width: 100%;
    height: 150px;
  }

  ul.comment_thread {
    list-style: none;
    padding: 0;
    margin: 0;

    li.comment {
      .vote_state {
        float: left;
        font-size: 0.5em;
        width: 30px;
      }

      .comment-data {
        margin-left: 40px;
      }

      margin: 30px 0;
      clear: both;

      .body {

      }

      .meta {
        color: #333;
        font-size: 0.8em;

        span {
          margin-right: 20px;
        }
      }
    }
  }

  .comment_thread .comment_thread {
    margin-left: 20px;

    .loading {
      margin-left: -20px;
    }
  }
}
